@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/******************************** NAVBAR **********************************************/

.logo {
  width: 16.25rem;
}

/************ MENU LINKS *************/

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;  
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:  0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3.5rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top:  0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top:  0.1875rem solid var(--primary-orange);
  /* width: 100%; */
}

/******************************** HEADER **********************************************/

.header-wraper {
  position: relative;
  /* background: url(../src/5ea9629322baab001c533b3f.jpg) no-repeat; */
  /* background: url(../src/6Nf5kRK5aYUmKMee2GQ3F5-1200-80.jpg) no-repeat; */
  background: url(../src/pexels-hasan-albari-1229861.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  box-shadow: gray 0 10px 10px;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1,
.main-info h2 {
  color: var(--primary-orange);
  /* text-transform: uppercase; */
}

/* ----------TYPED TEXT ----------------- */

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/* ----------HEADER MAIN OFFER BUTTON ----------------- */

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

/* ------------CARD HOVER ------------------------- */

#about-me {
  background-color: DarkSlateBlue !important; 
  box-shadow: gray 0 -5px 10px;
}

.card {
  filter: grayscale(80%);
  transition: transform 0.5s;
  box-shadow: gray 1px 1px 10px !important;
}

.card:hover {
  filter: brightness(100%);
  transform: scale(1.1);
  box-shadow: gray 5px 5px 100px !important;
}
