@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Quicksand:wght@300;500;700&display=swap');

:root {
  --primary-white: #fff;
  --primary-dark: rgba(255,255,255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;

  --Primary-davy-light: #4d4d4d;
  --Primary-davy-dark: #484848;
  --Primary-eerie-black: #202020;
  --Primary-jet-dark: #2b2b2b;
  --Primary-jet-light: #333;
}

a {
  text-decoration: none;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif;
}

.comfortaa-font {
  font-family: 'Comfortaa', cursive;
}

/******************************** NAVBAR **********************************************/

.logo {
  width: 16.25rem;
}

/************ MENU LINKS *************/

.navbar {
  box-shadow: var(--Primary-jet-dark) 0 5px 10px;
}

nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;  
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:  0.1875rem solid var(--Primary-davy-light);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3.5rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top:  0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top:  0.1875rem solid var(--primary-red);
}

/******************************** HEADER **********************************************/

.header-wraper {
  position: relative;
  background-repeat: no-repeat;
  /* background-image: url(../src/img/web-design-2906159_1280b.jpg); */
  background-image: url(../src/img/pexels-hasan-albari-1229861.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  height: 90vh;
  box-shadow: gray 0 10px 10px;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------TYPED TEXT ----------------- */


/* ----------HEADER MAIN OFFER BUTTON ----------------- */

.btn-main-offer:hover {
  background-color: var(--primary-white)!important ;
  border: 1px solid var(--primary-white)!important;
  color: var(--primary-red)!important;
}

.sm-icon {
  color: var(--primary-white);
}

.sm-icon:hover {
  color: var(--primary-red);
}

/* ------------CARD HOVER ------------------------- */

#about-me {
  background-color: var(--Primary-eerie-black) !important;
  box-shadow: var(--Primary-davy-dark) 0 -5px 10px;
}

#contacts {
  background-color: var(--Primary-eerie-black) !important;
}

#skills {
  background-image: url(../src/img/keyboard.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  transition: transform 0.5s;
  box-shadow: var(--Primary-davy-dark) 1px 1px 10px !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: var(--Primary-davy-dark) 5px 5px 100px !important;
}
